<div class="block-magazine">
    <svg class="title-svg-deco" viewBox="0 0 1440 350" aria-label="News">
        <use xlink:href="./images/svg/ac78-svg.svg#titles__news"></use>
    </svg>

    <h2 class="bdcc-title-small --bold --right">BDCC Magazine</h2>
    <%= partial "components/home/_block-magazine__articles" %>
    <%= partial "components/home/_block-magazine__news" %>
</div>