<section class="section-intro" scroll-item data-class="intro" data-header-mod="--white-right">
    <h1 class="title">Basque District Of Culture And Creativity</h1>

    <div class="section-intro__left">
        <div class="section-intro__logo" aria-hidden="true">
            <svg viewBox="0 0 600 448" aria-label="BDCC">
                <use xlink:href="./images/svg/ac78-svg.svg#logo-basquedcc-square"></use>
            </svg>
        </div>

        <ul class="section-intro__ul">
            <li><a  class="link-intro-li" href="#" target="_self"><span class="category">Herramienta</span><span class="text" data-text="Value Proposition Canvas Value Proposition Canvas">Value Proposition Canvas Value Proposition Canvas</span></a></li>
            <li><a  class="link-intro-li" href="#" target="_self"><span class="category">Ayuda</span><span class="text" data-text="Value Proposition Canvas">Your DNA as a business</span></a></li>
            <li><a  class="link-intro-li" href="#" target="_self"><span class="category">Herramienta</span><span class="text" data-text="Value Proposition Canvas">Value Proposition Canvas</span></a></li>
            <li><a  class="link-intro-li" href="#" target="_self"><span class="category">Herramienta</span><span class="text" data-text="Value Proposition Canvas">Business Plan</span></a></li>
            <li><a  class="link-intro-li" href="#" target="_self"><span class="category">Herramienta</span><span class="text" data-text="Value Proposition Canvas Value Proposition Canvas">Value Proposition Canvas Value Proposition Canvas</span></a></li>
            <li><a  class="link-intro-li" href="#" target="_self"><span class="category">Ayuda</span><span class="text" data-text="Value Proposition Canvas">Your DNA as a business</span></a></li>
            <li><a  class="link-intro-li" href="#" target="_self"><span class="category">Herramienta</span><span class="text" data-text="Value Proposition Canvas">Value Proposition Canvas</span></a></li>
            <li><a  class="link-intro-li" href="#" target="_self"><span class="category">Herramienta</span><span class="text" data-text="Value Proposition Canvas">Business Plan</span></a></li>
            <li><a  class="link-intro-li" href="#" target="_self"><span class="category">Herramienta</span><span class="text" data-text="Value Proposition Canvas Value Proposition Canvas">Value Proposition Canvas Value Proposition Canvas</span></a></li>
            <li><a  class="link-intro-li" href="#" target="_self"><span class="category">Ayuda</span><span class="text" data-text="Value Proposition Canvas">Your DNA as a business</span></a></li>
            <li><a  class="link-intro-li" href="#" target="_self"><span class="category">Herramienta</span><span class="text" data-text="Value Proposition Canvas">Value Proposition Canvas</span></a></li>
            <li><a  class="link-intro-li" href="#" target="_self"><span class="category">Herramienta</span><span class="text" data-text="Value Proposition Canvas">Business Plan</span></a></li>
        </ul>
    </div>

    <div class="section-intro__info-video">
        <video data-autoplay
               muted
               loop
               playsinline
               webkit-playsinline
               preload="none"
               data-poster="./images/images/test.jpg"
               src="https://player.vimeo.com/external/366246167.hd.mp4?s=ed351c0a6e2caf1f27ee394dd3f6b25f3982a841&profile_id=175">
            <link rel="transcript" title="English transcript" href="#video-intro-transcripcion">
        </video>



        <div class="logo" aria-hidden="true">
            <svg viewBox="0 0 600 448" aria-label="BDCC">
                <use xlink:href="./images/svg/ac78-svg.svg#logo-basquedcc-square"></use>
            </svg>
        </div>

        <div class="content">
            <p><strong>kaixo!!</strong> somos BDCC (Basque District of Culture and Creativity), un espacio clave para que  las Industrias Culturales y Creativas de Euskadi saquen todo su potencial. </p>
            <a class="link-button --arrow-in --font-xs" href="conoce-bdcc.html" target="_self">
                CONOCE + SOBRE EL BDCC
            </a>
        </div>

        <div class="bdcc-title-small">BDCC</div>
    </div>
</section>