<% classActive = active ? "__active" : "" %>

<a class="link-button --text-center __button <%= classActive %>"
   href="<%= url %>"
   data-ga-event="click,herramienta,<%= alt %>">
    <%= alt %>
</a>