.block-news {
  padding: 0 var(--padding-m) 10vh;
  position: relative;
}

.block-news ul {
  --font-size: #{(24px / 16px) * 1rem};

  display: grid;
  grid-template: auto / 1fr 1fr 1fr;
  align-items: flex-start;
  justify-content: flex-start;
  grid-gap: var(--padding-xs);

  list-style: none;
  margin: 0;
  padding: 0;
}

.block-news li {
  border-bottom: 1px solid currentColor;
  color: currentColor;
  font-family: var(--font-sans);
  font-size: var(--font-size);
  line-height: #{(36px / 30px)};
  margin-bottom: var(--padding-xs);
}

.block-news ul li a {
  @include basic-a();

  position: relative;
  display: block;
  padding-bottom: .2em;
  color: currentColor;
  text-decoration: none;
  padding-right: 1em;

  .title {
    font-weight: 400;
    margin: 0 0 .3em 0;
  }

  p {
    display: inline-block;
    margin: 0;
    font-size: .7em;
  }

  &[target="_self"]:after {
    position: absolute;
    right: 0;
    bottom: 0;
    display: inline-block;
    width: auto;
    content: '↘';
    transform-origin: center center;
    transition: transform .4s var(--ease-out-quad);
  }
  &[target="_blank"]:after {
    display: inline-block;
    width: 0;
    content: '↗';
  }
  &:before {
    @include pseudo-element-absolute();
    left:0;
    bottom: -1px;
    width: 100%;
    height: 1px;
    background-color: var(--green-bdcc);
    transform-origin: 100% 0;
    transform: scale3d(0,1,1);
    transition: transform .4s var(--ease-out-quad);
  }

  &:hover {
    &:before {
      transform-origin: 0 0;
      transform: scale3d(1, 1, 1);
      transition: transform .4s var(--ease-out-circ);
    }
    &[target="_self"]:after {
      transform: translate3d(.3em,0,0) rotate3d(0,0,1,-45deg);
      transition: transform .2s var(--ease-out-quad);
      color: var(--green-bdcc);
    }
  }
}

.block-news nav {
  @extend .block-simple-paginator;
}

@media (max-width: $tabletPortrait) {
  .block-news {
    padding: 0 var(--padding-xs) 10vh;
  }

  .block-news ul {
    --font-size: #{(24px / 16px) * 1rem};
    grid-template: auto / 1fr 1fr;
  }
}

@media (max-width: $smartphone) {
  .block-news ul {
    --font-size: #{(20px / 16px) * 1rem};
    grid-template: auto / 1fr;
  }

  .block-news ul li {
    margin: 0;
  }
}
