.body-magazine-detail {
  padding: 0 var(--padding-xl);
  margin: var(--padding-s) auto var(--padding-l);
  //max-width: var(--max-width-news);
  @include body--default();

  p,ul,ol,h2,h3,h4,h5 {
    max-width: var(--max-width-magazine);
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: $tabletPortrait) {
  .body-magazine-detail {
    margin: var(--padding-xs) auto var(--padding-l);
  }
}

@media (max-width: $smartphone) {
  .body-magazine-detail {
    padding-left: var(--padding-xs);
    padding-right: var(--padding-xs);
    margin: var(--padding-xs) auto var(--padding-l);
  }
}