<article class="section-aids__aids__item --status-open" data-acordion>
    <button class="summary" data-acordion-toogle>
        <div class="title">
            <%= lorem.sentence %>
        </div>
        <div class="status">
            Convocatoria Abierta
        </div>
        <svg viewBox="0 0 30 30" aria-hidden="true">
            <use xlink:href="./images/svg/ac78-svg.svg#icon-plus"></use>
        </svg>
    </button>
    <div class="content" data-acordion-group>
        <ul>
            <li>
                <div class="label">Descripción</div>
                <div class="value">
                    <p>Subvenciones para la organización de festivales en las diferentes áreas culturales (2020). Subvenciones para la organización de festivales en las diferentes áreas culturales (2020). Audiovisuales,Viceconsejería de Cultura,Música,Artes </p>
                </div>
            </li>
            <li>
                <div class="label">Fecha inicio</div>
                <div class="value">25/02/2020</div>
            </li>
            <li>
                <div class="label">Fecha fin</div>
                <div class="value">25/10/2021</div>
            </li>
            <li>
                <div class="label">LINK Al programa</div>
                <div class="value">
                    <a href="https://theglocal.network/resources/vi-edicion-programa-balebila-comunicacion-digital-e-internacional/guest" target="_blank">
                        theglocal.network
                    </a>
                </div>
            </li>
        </ul>
    </div>
</article>