<div class="block-next">
    <div class="title"><%= title %></div>
    <a class="link-button --text-center --arrow-in __button"
       href="<%= url %>"
       data-ga-event="<%= ga %>">
        <%= text %>
    </a>
</div>