<a class="card-tool __card" href="<%= url %>" cursor-follow data-power=".1">
    <div class="content">
        <div class="icon">
            <svg viewBox="0 0 200 200" aria-hidden="true">
                <use xlink:href="./images/svg/tools/tools.svg#icon_entorno"></use>
            </svg>
        </div>
        <div class="category">Entorno</div>
        <div class="title"><%= title %></div>
        <div class="aux"><%= aux %></div>
    </div>
</a>