<header class="header-news-detail" data-header-mod="--default">
    <a class="link-back --arrow-left" href="news.html" data-back target="_self">Volver a Noticias BDCC</a>
    <div class="date"><%= date %></div>
    <h1 class="title"><%= title %></h1>
</header>