<div class="title-oval --text-center --small">
    <svg class="oval" viewBox="0 0 362 202" aria-hidden="true">
        <path vector-effect="non-scaling-stroke" fill="none" stroke-miterlimit="10" d="M56 28.8C88.4 11.3 132.4.6 181 .6 280.4.6 361 45.5 361 101s-80.6 100.4-180 100.4S1 156.4 1 101c0-28.4 21.1-54 55-72.2"/>
    </svg>
    <div class="text"><span>Choose<br>Option</span></div>
    <div class="arrows" aria-hidden="true">
        <svg viewBox="0 0 38 70">
            <use xlink:href="./images/svg/ac78-svg.svg#arrow-serif"></use>
        </svg>
        <svg viewBox="0 0 38 70">
            <use xlink:href="./images/svg/ac78-svg.svg#arrow-serif"></use>
        </svg>
        <svg viewBox="0 0 38 70">
            <use xlink:href="./images/svg/ac78-svg.svg#arrow-serif"></use>
        </svg>
        <svg viewBox="0 0 38 70">
            <use xlink:href="./images/svg/ac78-svg.svg#arrow-serif"></use>
        </svg>
    </div>
</div>