<div class="prefooter">
    <%= partial "components/footer/section_joinus" %>
    <%= partial "components/footer/section_orientation" %>
    <div class="prefooter__video">
        <video data-autoplay
               controls
               muted
               loop
               playsinline
               webkit-playsinline
               preload="none"
               data-poster="<%= @cdn_url %>/images/images/test.jpg"
               src="https://player.vimeo.com/external/366246167.hd.mp4?s=ed351c0a6e2caf1f27ee394dd3f6b25f3982a841&profile_id=175"></video>
    </div>
    <div class="prefooter__contact">
        <a class="link-arrow --arrow-out" href="mailto:info@basquedcc.eus">info@basquedcc.eus</a>
    </div>
</div>