<div id="Cookies">
    <div class="content">
        <p>
            <%= t(:cookies_text) %><a href="" rel="nofollow"><%= t(:cookies_linktitle) %></a>
        </p>
    </div>
    <div class="controls">
        <button class="btn-ok" data-cookies-ok><%= t(:cookies_ok) %></button>
        <button class="btn-nok" data-cookies-nok><%= t(:cookies_nok) %></button>
    </div>
</div>