<div id="Message" class="__success">
    <div class="content">
        <p></p>
    </div>
    <div class="controls">
        <button class="btn-ok" data-toggle-window="message">ACEPTAR</button>
    </div>
</div>