.section-aids__filters {
  --title-filters: var(--font-size-small);//#{(30px / 16px) * 1rem};
  --height-close: 1.125rem;
  --height-open: 240px;
  --duration: .8s;
  --position: sticky;

  position: var(--position);
  top: var(--padding-s);

  padding-bottom: var(--padding-s);

  background: var(--white);

  > .bdcc-title-small {}
  > .section-aids__filters__toggle {
    display: none;
  }
}

.section-aids__filters__toggle {
  @include basic-a();
  width: 100%;
  height: 30px;
  font-size: var(--font-size-small);
  font-family: var(--font-sans);
  font-weight: 400;
  background: transparent;
  text-transform: uppercase;

  &:after {
    display: inline-block;
    content: '↓';
    margin-left: .2em;
  }
}

.section-aids__filters__block .title {
  margin: var(--padding-xs) 0 .65em;
  @include titleFont();
  font-size: var(--title-filters);
  font-weight: 500;
  text-transform: uppercase;
}

.section-aids__filters__block:last-of-type {
  padding-bottom: var(--padding-xs);
}

.section-aids__filters__block ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

@media (max-width: $tabletPortrait) {
  .section-aids__filters {
    --title-filters: var(--font-size-small);

    position: relative;
    top: auto;
    padding: 0 var(--padding-xs);
    margin-bottom: var(--padding-xs);

    border: 1px solid currentColor;
    border-radius: var(--curva);

    overflow: hidden;

    transition-timing-function: var(--ease-in-out-expo);
    transition: height;
    transition-duration: var(--duration);

    &[aria-expanded="true"] {
      height: calc(var(--height-close) + var(--height-open));

      .section-aids__filters__toggle {
        &:after {
          content: '↑';
        }
      }
    }

    &[aria-expanded="false"] {
      height: var(--height-close);
    }

    .section-aids__filters__block:first-of-type .title {
      margin-top: 0;
      padding-top: var(--padding-xs);
    }

    > .bdcc-title-small {
      display: none;
    }
    > .section-aids__filters__toggle {
      display: block;
    }
  }

  .section-aids__filters__block .title {
    margin-bottom: .7em;
    font-weight: 500;
  }
}