.wrap {
  /*display: grid;
  grid-template-columns: repeat(5,1fr);
  grid-column-gap: var(--grid-gap);
  grid-row-gap: 0;
  padding: 0 var(--grid-gap);
  grid-auto-rows: min-content;*/
}

@media (max-width: $tabletPortrait) {
  .wrap:not(.page-icss) {
    overflow: hidden;
  }
}




