---
title: BDCC
description: BDCC
url_root: http://www.bdcc.com
url: http://www.bdcc.com
---

<article id="Page" class="page page-about __page wrap">
    <header class="header-double-title" data-header-mod="--default">
        <svg viewBox="0 0 1440 350" aria-hidden="true">
            <use xlink:href="./images/svg/ac78-svg.svg#titles__about"></use>
        </svg>
        <h1 class="bdcc-title-small --right --bold --width-fixed">QUÉ ES BDCC</h1>
        <div class="summary">
            <p>El Basque DCC (Basque District of Culture and Creativity) es el espacio para las Industrias Culturales y Creativas (ICCs) de Euskadi.</p><p>Si eres una empresa o profesional de las ICCs, aquí encontrarás todos los recursos disponibles en Euskadi para ti: instituciones (públicas y privadas, sectoriales, tecnológicas y otras), subvenciones, servicios, herramientas, …</p><p>Queremos ser tu socio en tus proyectos de creación, profesionalización, innovación, internacionalización, financiación, crecimiento o competitividad, proponiendo los itinerarios más adecuados a tus circunstancias y oportunidades a través de una atención personalizada.</p>
        </div>

        <div class="header-double-title__block-link">
            <%= partial "components/titles-oval/title-oval--take-a-look--small" %>

            <a class="link-button --arrow-in --font-xs" href="tools.html" target="_self">
                CONOCE + SOBRE LOS SEVICIOS DE BDCC
            </a>
        </div>
    </header>

    <blockquote class="page-about__blockuote">
        ¡ANÍMATE A FORMAR PARTE DE NUESTRA COMUNIDAD, DE LAS INDUSTRIAS CULTURALES Y CREATIVAS VASCAS!
    </blockquote>

    <div class="block-video-rounded">
        <figure>
            <video data-autoplay
                   controls
                   muted
                   loop
                   playsinline
                   webkit-playsinline
                   preload="none"
                   data-poster="./images/images/test.jpg"
                   src="https://player.vimeo.com/external/366246167.hd.mp4?s=ed351c0a6e2caf1f27ee394dd3f6b25f3982a841&profile_id=175"></video>
        </figure>
    </div>

    <section class="page-about__collab-model">
        <h2 class="title">MODELO DE COLABORACIÓN</h2>

        <div class="block-1">
            <p>BDCC nace con el objetivo de aunar y fortalecer las diferentes iniciativas públicas y privadas que tienen como objetivo desarrollar las Industrias Culturales y Creativas en Euskadi.</p>
            <p>Para ello, propone un modelo de colaboración en red donde la oferta de servicios y productos de apoyo de los distintos agentes se pongan a disposición de las empresas de una forma sencilla y efectiva.</p>
            <p>La definición de nuevos servicios en colaboración y su prestación en red garantizarán el abordaje de los retos clave del sector: profesionalización y gestión, internacionalización, gestión de derechos de propiedad intelectual, etc. Asimismo, el BDCC asumirá un rol activo de interlocución con las entidades y administraciones que trabajan con las empresas ICC para ejercer una función de coordinación de la red de agentes, redirigiendo y orientando a las empresas y profesionales de las ICCs a programas de apoyo y servicios ya existentes.</p>
        </div>

        <div class="block-2">
            <p>BDCC ES UN PROYECTO DE PAÍS, COORDINADO DE FORMA CONJUNTA ENTRE LOS DEPARTAMENTOS DE CULTURA Y POLÍTICA LINGÜÍSTICA, Y, EL DEPARTAMENTO DE DESARROLLO ECONÓMICO DEL GOBIERNO VASCO, Y LAS AGENCIAS SPRI E INNOBASQUE.</p>
        </div>

        <div class="block-3">
            <p>En su condición de distrito, tiene la intención de unificar desarrollo económico, innovación y perspectiva cultural, involucrando además de al Gobierno Vasco, a las Diputaciones Forales y a las tres capitales.</p>
            <p>Además de estas instituciones, aúna el esfuerzo de otras entidades del ecosistema, como los centros tecnológicos, las Universidades, los agentes sectoriales y culturales, etc., con un foco principal: las empresas.</p>
        </div>
    </section>

    <section class="block-grafica-bdcc" scroll-item data-class="grafica-bdcc">
        <ul class="block-grafica-bdcc__gov">
            <li><div class="block-grafica-bdcc__circle __item __left"><span>DIPUTACIÓN</span><span>FORAL</span></div></li>
            <li><div class="block-grafica-bdcc__circle __item __left"><span>AYUNTA-</span><span>MIENTOS</span></div></li>
            <li><div class="block-grafica-bdcc__circle __item __left"><span>GOBIERNO</span><span>VASCO</span></div></li>
        </ul>

        <div class="block-grafica-bdcc__core __item __core">
            <svg viewBox="0 0 30 30" aria-hidden="true">
                <use xlink:href="./images/svg/ac78-svg.svg#logo-basquedcc-horizontal-small__star"></use>
            </svg>
            <span>BDCC</span>
        </div>

        <ul class="block-grafica-bdcc__agentes">
            <li><div class="block-grafica-bdcc__bubble __item __right"><span>ENTIDADES</span><span>REPRESENTANTES</span><span>DE LAS ICC</span></div></li>
            <li><div class="block-grafica-bdcc__bubble __item __right"><span>FACILITADORES</span></div></li>
            <li><div class="block-grafica-bdcc__bubble __item __right"><span>NODOS</span></div></li>
        </ul>
    </section>
</article>