---
title: BDCC
description: BDCC
url_root: http://www.bdcc.com
url: http://www.bdcc.com
---

<article id="Page" class="page page-icss __page wrap" data-page="icss">
    <header class="header-double-title" data-header-mod="--default">
        <svg viewBox="0 0 1440 350" aria-hidden="true">
            <use xlink:href="./images/svg/ac78-svg.svg#titles__icss"></use>
        </svg>
        <h1 class="bdcc-title-small --right --bold --width-fixed">ICSS en Euskadi</h1>
        <div class="summary">
            <p>Partiendo de la clasificación que hace el Observatorio Vasco de la Cultura (OVC), los subsectores y las actividades que componen las Industrias Culturales y Creativas (ICCs) en Euskadi se han definido y agrupado de la siguiente manera:</p>
        </div>
    </header>

    <div class="page-icss__sectores">
        <h2 class="title">
            <span>SUBSECTORES</span> <span>CREATIVOS</span>
        </h2>
        <ul>
            <li>ARTESANÍA</li>
            <li>ARQUITECTURA</li>
            <li>CONTENIDOS DIGITALES</li>
            <li>DISEÑO</li>
            <li>GASTRONOMÍA</li>
            <li>INDUSTRIAS DE LA LENGUA</li>
            <li aria-hidden="true">ARTESANÍA</li>
            <li aria-hidden="true">ARQUITECTURA</li>
            <li aria-hidden="true">CONTENIDOS DIGITALES</li>
            <li aria-hidden="true">DISEÑO</li>
            <li aria-hidden="true">GASTRONOMÍA</li>
            <li aria-hidden="true">INDUSTRIAS DE LA LENGUA</li>
        </ul>
    </div>

    <div class="page-icss__sectores">
        <h2 class="title">
            <span>SUBSECTORES</span> <span>CULTURALES</span>
        </h2>
        <ul>
            <li>ARTES ESCÉNICAS</li>
            <li>ARTES VISUALES</li>
            <li>AUDIOVISUALES</li>
            <li>EDICIÓN Y MEDIOS IMPRESOS</li>
            <li>MÚSICA</li>
            <li aria-hidden="true">ARTES ESCÉNICAS</li>
            <li aria-hidden="true">ARTES VISUALES</li>
            <li aria-hidden="true">AUDIOVISUALES</li>
            <li aria-hidden="true">EDICIÓN Y MEDIOS IMPRESOS</li>
            <li aria-hidden="true">MÚSICA</li>
        </ul>
    </div>

    <section class="page-icss__cifras-sector">
        <h2 class="title"><span>CIFRAS DEL</span> <span>SECTOR DE</span> <span>ICCS</span></h2>

        <div class="page-icss__grafica-1">
            <div class="text">
                <p>De acuerdo a los últimos datos, las ICCs suponen el 9,80% de las empresas de la CAE, y el 5,31% del empleo total.</p>
                <p>En general, el sector está compuesto principalmente por microempresas, con un ratio medio de 2,94 empleos por empresa (frente a un ratio general de 5,52 en la CAE).</p>
                <p>En el caso de las Industrias Creativas se acentúa este factor, con un ratio que baja hasta los 2,2 empleos por empresa. En el de las Industrias Culturales el ratio es de 4,02 empleos por empresa.</p>
                <p>De forma bianual, el OVC realiza un Estudio Estadístico sobre las Artes e Industrias Culturales, a cuya última edición (2017), se han sumado parte de las Industrias Creativas.</p>
            </div>

            <div class="grafica">
                <div class="page-icss__grafica-1__block">
                    <div class="text">CAE <span class="val">154.687</span> empresas</div>
                    <div class="text">ICCS <span class="val">15.437</span> empresas</div>
                    <div class="value">9,8%</div>
                </div>
                <div class="page-icss__grafica-1__block">
                    <div class="text">CAE <span class="val">845.154</span> empleos</div>
                    <div class="text">ICCS <span class="val">15.437</span> empleos</div>
                    <div class="value">5,3%</div>
                </div>
            </div>
        </div>

        <div class="page-icss__grafica-2">
            <h3 class="title">
                PESO RELATIVOS DE LOS SUBSECTORES DE LAS ICCS EN EUSKADI, SEGÚN FACTURACIÓN, Nº DE PERSONAS TRABAJADORAS Y Nº DE AGENTES
            </h3>

            <div class="page-icss__grafica-2__block" scroll-item data-class="grafica-icss">
                <header aria-hidden="true">
                    <div class="content">
                        <h4 class="title __text1">Nº FACT(M€)</h4>
                        <div class="selector-link-button __selector" cursor-follow data-power="0.1" data-rotation="0">
                            <div class="value __text2">Nº FACT(M€)</div>
                            <ul>
                                <li><a href="./index.html" data-internal data-value="__v1" class="__selection --selected">Nº FACT(M€)</a></li>
                                <li><a href="./index.html" data-internal data-value="__v2" class="__selection">Nº TRABAJADORES</a></li>
                                <li><a href="./index.html" data-internal data-value="__v3" class="__selection">Nº AGENTES</a></li>
                            </ul>
                        </div>
                        <div class="leyenda" aria-hidden="true">
                            <span>0%</span>
                            <span>25%</span>
                            <span>50%</span>
                            <span>75%</span>
                            <span>100%</span>
                        </div>
                    </div>
                </header>

                <ul class="values __values __v1" aria-hidden="true">
                    <style>
                        /* N FACT(M€) */
                        .page-icss__grafica-2__block .values.__v1 {
                            --val1:9%;
                            --val2:2%;
                            --val3:11%;
                            --val4:14%;
                            --val5:7%;
                            --val6:25%;
                            --val7:6%;
                            --val8:10%;
                            --val9:9%;
                            --val10:2%;
                            --val11:5%;
                        }
                        /*N TRABAJADORES*/
                        .page-icss__grafica-2__block .values.__v2 {
                             --val1:9%;
                             --val2:2%;
                             --val3:7%;
                             --val4:8%;
                             --val5:10%;
                             --val6:24%;
                             --val7:6%;
                             --val8:19%;
                             --val9:6%;
                             --val10:4%;
                             --val11:5%;
                         }
                        /*N AGENTES*/
                        .page-icss__grafica-2__block .values.__v3 {
                             --val1:22%;
                             --val2:5%;
                             --val3:13%;
                             --val4:12%;
                             --val5:7%;
                             --val6:14%;
                             --val7:7%;
                             --val8:7%;
                             --val9:4%;
                             --val10:3%;
                             --val11:6%;
                         }
                    </style>

                    <li>
                        <div class="label">ARTES ESCÉNICAS</div>
                        <div class="values-holder"><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span></div>
                    </li>
                    <li>
                        <div class="label">ARTES VISUALES</div>
                        <div class="values-holder"><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span></div>
                    </li>
                    <li>
                        <div class="label">LIBRO</div>
                        <div class="values-holder"><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span></div>
                    </li>
                    <li>
                        <div class="label">MÚSICA</div>
                        <div class="values-holder"><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span></div>
                    </li>
                    <li>
                        <div class="label">AUDIOVISUAL</div>
                        <div class="values-holder"><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span></div>
                    </li>
                    <li>
                        <div class="label">PUBLICIDAD</div>
                        <div class="values-holder"><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span></div>
                    </li>
                    <li>
                        <div class="label">ARQUITECTURA</div>
                        <div class="values-holder"><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span></div>
                    </li>
                    <li>
                        <div class="label">IND. LENGUA</div>
                        <div class="values-holder"><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span></div>
                    </li>
                    <li>
                        <div class="label">MODA</div>
                        <div class="values-holder"><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span></div>
                    </li>
                    <li>
                        <div class="label">VIDEOJUEGOS</div>
                        <div class="values-holder"><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span></div>
                    </li>
                    <li>
                        <div class="label">DISEÑO</div>
                        <div class="values-holder"><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span></div>
                    </li>
                </ul>

                <!-- VALORES ACCESIBLES -->
                <ul class="sr-only" aria-label="Número de agentes">
                    <li>
                        <div class="label">ARTES ESCÉNICAS</div>
                        <div class="value">98</div>
                    </li>
                    <li>
                        <div class="label">ARTES VISUALES</div>
                        <div class="value">98</div>
                    </li>
                    <li>
                        <div class="label">LIBRO</div>
                        <div class="value">98</div>
                    </li>
                    <li>
                        <div class="label">MÚSICA</div>
                        <div class="value">98</div>
                    </li>
                    <li>
                        <div class="label">AUDIOVISUAL</div>
                        <div class="value">98</div>
                    </li>
                    <li>
                        <div class="label">PUBLICIDAD</div>
                        <div class="value">98</div>
                    </li>
                    <li>
                        <div class="label">ARQUITECTURA</div>
                        <div class="value">98</div>
                    </li>
                    <li>
                        <div class="label">IND. LENGUA</div>
                        <div class="value">98</div>
                    </li>
                    <li>
                        <div class="label">MODA</div>
                        <div class="value">98</div>
                    </li>
                    <li>
                        <div class="label">VIDEOJUEGOS</div>
                        <div class="value">98</div>
                    </li>
                    <li>
                        <div class="label">DISEÑO</div>
                        <div class="value">98</div>
                    </li>
                </ul>
                <!-- VALORES ACCESIBLES END-->
            </div>

            <blockquote class="page-icss__blockuote">
                EL PESO RELATIVO DE CADA UNO DE LOS SUBSECTORES AL TOTAL DE FACTURACIÓN, DE EMPLEOS Y NÚMERO DE EMPRESAS ESTÁ BASTANTE DISTRIBUIDO.
            </blockquote>
        </div>

        <div class="page-icss__block-image-text">
            <div class="page-icss__block-p">
                <p>Las únicas excepciones son las artes escénicas, que destaca en número de agentes, y la publicidad, que tiene un peso relevante en número de trabajadores y volumen de negocio. Aun así, podemos decir que no hay un subsector que predomine respecto el resto de subsectores. Esto hace que exista cierto equilibrio entre todos los subsectores, dando más espacios de oportunidad para el posible desarrollo de sinergias.</p>
            </div>
            <div class="block-image-rounded">
                <%= partial "components/basics/image", locals: {
                preload: false,
                image: "/images/images/test.jpg",
                width: 1500,
                height: 1500,
                alt: "EO",
                ratio: 1,
                heightMultiplicator: 1,
                figureClass: 'media-holder',
                imageTags: '',
                } %>
            </div>
        </div>

        <div class="page-icss__block-p">
            <p>Más allá de la lectura cuantitativa realizada mediante estadísticas, el mismo OVC, dispone de una serie de informes cualitativos, que nos pueden ayudar a un mejor conocimiento y comprensión del sector cultural y creativo vasco.</p>
        </div>
        <blockquote class="page-icss__blockuote">
            EL OBSERVATORIO VASCO DE LA CULTURA OVC ANALIZA Y DISECCIONA EL SECTOR CULTURAL VASCO PARA TENER UNA IDEA DE SU ALCANCE
        </blockquote>
        <div class="page-icss__block-p --last">
            <p>Además, el Departamento de Cultura, ha editado en 2020 la publicación “Las ICCs en Euskadi”, en el que se hace un recorrido temporal desde los inicios en las nuevas estrategias ICC hasta el momento, incluyendo los desarrollos previstos a futuro, Basque DCC inclusive, como proyecto estrella.</p>
        </div>

        <div class="page-icss__footer-link">
            <%= partial "components/titles-oval/title-oval--take-a-look--small" %>

            <a class="link-button --arrow-in --font-xs" href="tools.html" target="_self">
                CONOCE + SOBRE LOS SEVICIOS DE BDCC
            </a>
        </div>
    </section>
</article>