---
title: BDCC
description: BDCC
url_root: http://www.bdcc.com
url: http://www.bdcc.com
---

<article id="Page" class="page __page wrap" data-bg="--grey-bdcc">
    <%= partial "components/header_magazine_detail", locals: {
    title: 'WORLD PRESS PHOTO 2020',
    subtitle: 'Artículos de Basque DCC',
    summary: "Organización independiente, su objetivo es inspirar la comprensión del mundo a través del fotoperiodismo de calidad. Realiza múltiples actividades educativas y profesionales, cuya culminación es la exposición anual.",
    date: "8 de Octubre de 2020",
    } %>

    <section class="body-magazine-detail">
        <p>La exposición de las fotografías ganadoras,cuya gira mundial comienza en Ámsterdam, se podrá visitar a lo largo del año en más de 100 ciudades de todo el mundo y 45 países, llegando a una audiencia global de más de 4 millones de espectadores. Las fotografías ganadoras de esta edición fueron escogidas entre las 73.996 imágenes que se presentaron a concurso, realizadas por 4.282 fotógrafas y fotógrafos internacionales.</p>
        <div class="block-plyr-rounded">
            <figure class="plyr__video-embed" >
                <video data-plyr
                       controls
                       playsinline
                       data-poster="./images/images/test.jpg">
                    <source src="/images/videos/video01.mp4" type="video/mp4" />
                </video>
            </figure>
        </div>
        <p>Como es habitual, la muestra se divide en 8 categorías como Temas de actualidad, Noticias, Proyectos a largo plazo, Naturaleza, Deportes o Retratos. En World Press Photo 2020 se aprecian tres líneas argumentales dominantes: las protestas ciudadanas generalizadas donde la juventud es protagonista (Irak, Sudán, Hong Kong, Chile, Argelia) y la naturaleza con historias tan sorprendentes como la del -ahora tan famoso- pangolín. También destaca la temática social con reportajes tan distintos como la soledad de los ancianos, las mujeres e hijos de combatientes del estado islámico retenidas en campos de Irak, el aborto en Bielorrusia, el sufrimiento de la comunidad maya Ixil o las estudiantes que memorizan por completo el Corán.</p>
        <blockquote>
            WORLD PRESS PHOTO ES EL CERTAMEN DE FOTOPERIODISMO MÁS PRESTIGIOSO E IMPORTANTE DEL MUNDO. NACIÓ EN AMSTERDAM EN 1955.
        </blockquote>
        <p>Es la fuerza del periodismo gráfico documental.Los miembros del jurado buscan imágenes relevantes, únicas y memorables. En esta ocasión, el Premio World Press Photo a la foto del año fue para el japonés Yasuyoshi Chiba titulada Straight Voice (que puede traducirse por “voz firme” o “voz convencida”). Publicada por la agencia de noticias Agence France-Presse. Un joven, iluminado por teléfonos móviles, recita poesía mientras los manifestantes cantan consignas pidiendo un gobierno civil durante un apagón en Jartum, Sudán, el 19 de junio de 2019. Un golpe de Estado en abril de ese año derrocó a Omar Hasán al Bashir y una junta militar asumió el poder en su lugar.</p>
        <p>En esta edición de WPP se aprecia la ausencia de reportajes con imágenes directas de gran crudeza obtenidas en conflictos bélicos,mientras abundan los retratos y los trabajos personales e intimistas.Tres de los 44 fotógrafos seleccionados son españoles: Ramón Espinosa con una imagen sobre el huracán Dorian, Antonio Pizarro sobre el lince ibérico y Ricardo García Vilanova con la foto de un hombre inconsciente tras una protesta en Irak.</p>
        <div class="block-image-rounded">
            <%= partial "components/basics/image", locals: {
            preload: false,
            image: "/images/images/test.jpg",
            width: 1500,
            height: 1500,
            alt: "EO",
            caption: "En esta edición de WPP se aprecia la ausencia de reportajes con imágenes directas de gran crudeza obtenidas en conflictos bélicos En esta edición de WPP se aprecia la ausencia de reportajes con imágenes directas de gran crudeza obtenidas en conflictos bélicos"
            } %>
        </div>
        <h2>Visita World Press Photo</h2>
        <p>Para visitar la exposición de lunes a viernes, la entrada es libre hasta completar aforo; no es necesario realizar reserva previa ni solicitar invitación alguna.</p>
        <p>Para visitar la exposición durante los sábados y domingos es necesario disponer de invitación -gratuita- y mostrarla a la entrada de la misma (se puede llevar impresa en papel o incorporada en cualquier dispositivo móvil).</p>
        <p>Puedes descargar tu invitación o solicitarla en el teléfono 945 161619 (de lunes a domingo de 11:00h a 14:00h y de 18:00h a 21:00h).</p>
        <p>Los datos personales que se recojan a través del teléfono se introducirán en la aplicación Entradium.</p>
        <h3>Recuerda:</h3>
        <ul>
            <li>La invitación es válida únicamente para el día y la franja horaria seleccionada.</li>
            <li>Una vez finalizado el intervalo horario deberás abandonar la sala de exposiciones de forma ordenada atendiendo a la señalización del edificio y a las indicaciones del personal de sala.</li>
            <li>Si presentas alguna sintomatología (tos,fiebre, dificultades respiratorias,etc..) que pudiera estar asociada con la COVID-19 no podrás acudir al evento.</li>
            <li>Es obligatorio el uso de la mascarilla y la desinfección de manos.Tienes a tu disposición un dispensador de gel hidroalcohólico a la entrada del edificio.</li>
            <li>Respeta la distancia social de un metro y medio con el resto de las personas.</li>
            <li>Ilustración de Obra Literaria: <a href="google.com" target="_blank">Miren Asiain Lora</a>, un millón de ostras en lo alto de la montaña.</li>
        </ul>
        <p>
            <a href="https://www.irekia.euskadi.eus/es/news/63646-anunciados-los-primeros-premios-euskadi-literatura-2020-karmele-jaio-eiguren-inigo-astiz-martinez-miren-asiain-lora" target="_blank">Descarga tu invitación</a>
        </p>
        <div class="block-image-rounded">
            <%= partial "components/basics/image", locals: {
            preload: false,
            image: "/images/images/test.jpg",
            width: 1500,
            height: 1500,
            alt: "EO",
            ratio: 1,
            heightMultiplicator: 1,
            figureClass: 'media-holder',
            imageTags: '',
            } %>
        </div>
    </section>

    <div class="nav-next-articles">
        <svg class="title-svg-deco" viewBox="0 0 1440 350" aria-label="Tools" aria-hidden="true">
            <use xlink:href="./images/svg/ac78-svg.svg#titles__mgz"></use>
        </svg>

        <nav>
            <a href="magazine-detail.html#1" target="_self">
                <div class="bg">
                    <img src="/images/images/test.jpg" alt="LA FELIZ Y VIOLENTA VIDA DE MARIBEL ZIGA">
                </div>
                <div class="label">Anterior</div>
                <div class="title">LA FELIZ Y VIOLENTA VIDA DE MARIBEL ZIGA</div>
            </a>
            <a href="magazine-detail.html#2" target="_self">
                <div class="bg">
                    <img src="/images/images/test-advice.jpg" alt="CERTAMEN CORAL CIUDA DE TOLOSA 2020">
                </div>
                <div class="label">Siguiente</div>
                <div class="title">CERTAMEN CORAL CIUDA DE TOLOSA 2020</div>
            </a>
        </nav>
    </div>
</article>