---
title: BDCC
description: BDCC
url_root: http://www.bdcc.com
url: http://www.bdcc.com
---

<article id="Page" class="page __page wrap">
    <%= partial "components/header_news_detail", locals: {
    title: '"ANUNCIADOS LOS PRIMEROS PREMIOS EUSKADI DE LITERATURA 2020: KARMELE JAIO EIGUREN, IÑIGO ASTIZ MARTINEZ Y MIREN ASIAIN LORA"',
    subtitle: 'Notícias de Basque DCC',
    summary: "",
    date: "8 de Octubre de 2020",
    } %>

    <section class="body-news-detail">
        <p><strong>Corresponden a las categorías de Literatura en Euskera, Literatura Infantil y Juvenil en Euskera e Ilustración de Obra Literaria, respectivamente.</strong></p>
        <p>El consejero de Cultura y Política Lingüística del Gobierno Vasco, Bingen Zupiria, ha anunciado hoy los tres primeros Premios Euskadi de Literatura 2020, en el Museo Artium de Vitoria-Gasteiz. Las personas anunciadas hoy han sido premiadas en las categorías de Literatura en Euskera, Literatura Infantil y Juvenil en Euskera e Ilustración de Obra Literaria:</p>
        <ul>
            <li>Literatura en euskera: Karmele Jaio Eiguren, Aitaren Etxea.</li>
            <li>Literatura Infantil y Juvenil en Euskera: Iñigo Astiz Martinez, Joemak eta Polasak.</li>
            <li>Ilustración de Obra Literaria: <a href="google.com" target="_blank">Miren Asiain Lora</a>, un millón de ostras en lo alto de la montaña.</li>
        </ul>
        <p>Tal y como ha destacado el consejero Zupiria a las personas premiadas  "este reconocimiento es la forma de construir un puente a vuestros lectores habituales y a los que pueden ser nuevos lectores. Vuestros lectores habituales están hoy contentos por estos Premios Euskadi de Literatura. Por la misma razón otros podrían acercarse a vuestra literatura y leer vuestros libros”.</p>
        <p>Los Premios Euskadi de Literatura de este año se entregarán el próximo 19 de noviembre, en un acto celebrado en Azkuna Zentroa. En dicho acto estarán presentes las personas premiadas en las siete modalidades. La semana que viene se anunciarán los premios de las cuatro modalidades restantes:</p>
        <ol>
            <li>Literatura en Castellano.</li>
            <li>Ensayo en Euskera.</li>
            <li>Ensayo en Castellano.</li>
            <li>Traducción Literaria al Euskera.</li>
        </ol>
        <h2>Premios</h2>
        <p>Cada premio tiene una dotación de 18.000 euros, que puede aumentar en 4.000 euros más si la obra es publicada en otra lengua.</p>

        <a href="https://www.irekia.euskadi.eus/es/news/63646-anunciados-los-primeros-premios-euskadi-literatura-2020-karmele-jaio-eiguren-inigo-astiz-martinez-miren-asiain-lora" target="_blank">Leer información completa en el sitio web de la fuente</a>
    </section>
</article>